<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

<resultMap type="Board" id="selectList">
<result property="board_num" column="board_num"/>
<result property="com_url" column="com_url"/>
<result property="board_email" column="board_email"/>
<result property="division_num" column="division_num"/>
<result property="board_title" column="board_title"/>
<result property="board_content" column="board_content"/>
<result property="board_date" column="board_date"/>
<result property="board_count" column="board_count"/>
</resultMap>

<!-- 게시글 전체 불러오기 -->
<select id="boardSelectList" parameterType="java.lang.String" resultMap="selectList" resultType="Board">
select * from ${value} order by board_num desc
</select>
<!-- 게시글 전체 불러오기 끝. -->
<!-- 게시글 리스트 -->
<select id="boardList" parameterType="HashMap" resultMap="selectList">
<![CDATA[select * from (
				 select rownum rnum, board_num, 
				 board_title, board_writer, board_content, 
				 board_original_filename, board_rename_filename, 
				 board_date, board_readcount, board_ref, 
				 board_level, board_reply_ref, board_reply_seq 
				 from (select * from board  order by board_ref desc, board_reply_ref desc, 
				 board_level asc, board_reply_seq asc)) 
				 where rnum >= #{startRow} and rnum <= #{endRow}]]>
</select>
<!-- /게시글 리스트 -->
<!-- 조회수 -->
<select id="addReadCount" parameterType="int">
update board 
				set board_readcount = board_readcount + 1
				where board_num = #{boardNum}
</select>
<!--/조회수 -->
<!-- 게시글 상세정보 -->
<select id="SelectBoard" parameterType="java.util.Map" resultMap="selectList">
select * from board${param1} where board_num=${param2}
</select>
<!--/게시글 상세정보 -->
<!-- 기본 보드 상세정보 -->
<select id="SelectBasic" parameterType="java.util.Map" resultMap="selectList">
select * from board${param3} where board_num=${param2}
</select>
<!--/기본 보드상세정보 -->
<!-- 게시글 등록 -->
<insert id="insertBoard" parameterType="java.util.Map">
insert into board${param1} values 
(board_seq.nextval, #{param2}, #{param3}, ${param1}, #{param4}, #{param5}, sysdate, default)
</insert>
<!--/게시글 등록 --> 
<!-- 기본 보드 인서트 -->
<insert id="insertBasic" parameterType="java.util.Map">
insert into board${param2} values 
(board_seq.nextval, #{param2}, #{param3}, #{param4}, #{param5}, sysdate, default)
</insert>
<!--/ 기본 보드 인서트 -->
<!-- 게시글 삭제 -->
<delete id="deleteBoard" parameterType="java.util.Map" >
delete from board${param1}
				where board_num = ${param2}
</delete>
<!-- /게시글 삭제 -->
<!-- 기본 보드 딜리트 -->
<delete id="deleteBasic" parameterType="java.util.Map" >
delete from board${param3}
				where board_num = ${param2}
</delete>
<!--/ 기본 보드 딜리트 -->
<!-- 댓글 등록 -->
<insert id="insertReply" parameterType="Board" >
insert into board values (
				(select max(board_num) + 1 from board), 
				#{boardTitle}, #{boardWriter}, #{boardContent}, null, null, sysdate, #{boardLevel}, #{boardRef}, 
				<choose><when test="boardLevel eq 1">(select max(board_num) + 1 from board)</when>
				<otherwise> #{boardReplyRef}</otherwise>
				</choose>
				, 1, default)
</insert>
<!-- /댓글 등록 -->
<!-- 게시글 수정 -->
<update id="updateBoard" parameterType="java.util.Map" >
update board${param1} set 
				board_title = #{param3}, 
				board_content = #{param4} 
				where board_num = ${param2}										
</update>
<!-- /게시글 수정 -->
<!-- 기본 보드 업데이트 -->
<update id="updateBasic" parameterType="java.util.Map" >
update board${param5} set 
				board_title = #{param3}, 
				board_content = #{param4} 
				where board_num = ${param2}										
</update>
<!-- /기본 보드 업데이트 -->
<!-- 댓글 수정 -->
<select id="updateReply" parameterType="Board" >
update board set 
				board_title = #{boardTitle}, 
				board_content = #{boardContent}
				where board_num = #{boardNum}
</select>
<!-- /댓글 수정 -->
<!-- 댓글 순번 수정 -->
<update id="updateReplySeq" parameterType="Board" >
update board set 
				board_reply_seq = board_reply_seq + 1 
				where board_ref = #{boardRef} 
				and board_level = #{boardLevel} 
				and board_reply_ref = #{boardReplyRef}
</update>
<!-- /댓글 순번 수정 -->
<!-- 탑 3 -->
<select id="selectTop3" resultMap="selectList" >
<![CDATA[SELECT * 
				FROM (SELECT ROWNUM RNUM, BOARD_NUM, 
				BOARD_TITLE, BOARD_WRITER, 
                BOARD_DATE, BOARD_READCOUNT 
                FROM (SELECT * FROM BOARD 
                WHERE BOARD_LEVEL = 0 
                ORDER BY BOARD_READCOUNT DESC)) 
                WHERE RNUM >= 1 AND RNUM <= 3]]>
</select>
<!-- /탑 3 -->
</mapper>

