<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="companyMapper">

<resultMap type="Company" id="resultCompany">
		<result property="com_url" column="com_url" />
		<result property="emp_email" column="emp_email" />
		<result property="com_name" column="com_name" />
		<result property="com_tel" column="com_tel" />
		<result property="com_logo" column="com_logo" />
	</resultMap>

<!-- 	<resultMap id = "resultMember" type ="Member">
	<id property="userid" column="userid"></id>
	<result property="userpwd" column="userpwd" />
	<result property="username" column="username" />
	<result property="age" column="age" />
	<result property="email" column="email" />
	<result property="phone" column="phone" />
	<result property="gender" column="gender" />
	<result property="hobby" column="hobby" />
	<result property="etc" column="etc" />
	<result property="enroll_Date" column="ENROLL_DATE" />
	<result property="lastmodified" column="LASTMODIFIED" />
	</resultMap>
	
	<resultMap id = "resultList" type ="Member">
	<result property="userid" column="userid"/>
	<result property="userpwd" column="userpwd" />
	<result property="username" column="username" />
	<result property="age" column="age" />
	<result property="email" column="email" />
	<result property="phone" column="phone" />
	<result property="gender" column="gender" />
	<result property="hobby" column="hobby" />
	<result property="etc" column="etc" />
	<result property="enroll_Date" column="ENROLL_DATE" />
	<result property="lastmodified" column="LASTMODIFIED" />
	</resultMap>
	
	<select id="loginCheck" parameterType="Member" resultType="Member" resultMap="resultMember">
		select
		* from member
		where userid = #{userid} and userpwd = #{userpwd}
	</select>
	
	<select id="selectMember" parameterType="string" resultMap="resultMember">
		select *
		from member where userid = #{userid}
	</select>
	
	<select id="dupId" parameterType="string" resultType="int">
		select count(userid) from member where userid = #{userid}
	</select>
	
	<select id="selectList" resultMap="resultList">
		select * from member
	</select>
	
	<update id="updateMember" parameterType="Member" >
		update member
		set userpwd = #{userpwd}, age = #{age},
		email = #{email}, phone = #{phone},
		hobby = #{hobby}, etc = #{etc}
		where userid = #{userid}
	</update>
	
	<delete id="deleteMember" parameterType="string">
		delete from member
		where userid =  #{userid}
	</delete>
	 -->
	<insert id="companyInsert" parameterType="Company" 
		statementType="PREPARED" >
		insert into company (COM_URL, COM_NAME,emp_email) values (#{com_url},#{com_name},#{emp_email})
	</insert>
	
	<select id="comInfo" parameterType="String" resultMap="resultCompany">
		SELECT C.COM_NAME, C.COM_URL, C.COM_TEL, C.EMP_EMAIL, C.COM_ADDR FROM COMPANY C
		LEFT JOIN EMPLOYEE E ON C.COM_URL = E.COM_URL
		WHERE AUTH_NUM = '1' AND C.COM_URL = #{com_url}
	</select>
	
	<select id="createTable1" parameterType="HashMap">
	${sql}
	</select>
	
	<select id="comName" parameterType="String" resultType="String">
		select
		com_name from company where com_url = #{com_url}
	</select>
	
	<update id="comChangeMethod" parameterType="Company">
		update company
     	set com_name = #{com_name},
      	com_tel = #{com_tel},
      	com_addr = #{com_addr}
      	where com_url = #{com_url}
	</update>

</mapper>
