<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DocumentMapper">


	<resultMap id = "resultList" type ="Document">
	<result property="doc_num" column="DOC_NUM"/>
	<result property="com_url" column="COM_URL" />
	<result property="doc_id" column="DOC_ID" />
	<result property="doc_name" column="DOC_NAME" />
	<result property="doc_writer" column="DOC_WRITER" />
	<result property="doc_approver" column="DOC_APPROVER" />
	<result property="doc_approvers" column="DOC_APPROVERS" />
	<result property="doc_receivers" column="DOC_RECEIVERS" />
	<result property="appr_status" column="APPR_STATUS" />
	<result property="appr_cancelYN" column="APPR_CANCELYN" />
	<result property="temp" column="TEMP" />
	<result property="doc_date" column="DOC_DATE" />
	</resultMap>

<!-- 	<resultMap id = "resultMember" type ="Member">
	<id property="userid" column="userid"></id>
	<result property="userpwd" column="userpwd" />
	<result property="username" column="username" />
	<result property="age" column="age" />
	<result property="email" column="email" />
	<result property="phone" column="phone" />
	<result property="gender" column="gender" />
	<result property="hobby" column="hobby" />
	<result property="etc" column="etc" />
	<result property="enroll_Date" column="ENROLL_DATE" />
	<result property="lastmodified" column="LASTMODIFIED" />
	</resultMap>
	

	
	<select id="loginCheck" parameterType="Member" resultType="Member" resultMap="resultMember">
		select
		* from member
		where userid = #{userid} and userpwd = #{userpwd}
	</select>
	
	<select id="selectMember" parameterType="string" resultMap="resultMember">
		select *
		from member where userid = #{userid}
	</select>
	
	<select id="dupId" parameterType="string" resultType="int">
		select count(userid) from member where userid = #{userid}
	</select>
	
	<select id="selectList" resultMap="resultList">
		select * from member
	</select>
	
	<update id="updateMember" parameterType="Member" >
		update member
		set userpwd = #{userpwd}, age = #{age},
		email = #{email}, phone = #{phone},
		hobby = #{hobby}, etc = #{etc}
		where userid = #{userid}
	</update>
	
	<delete id="deleteMember" parameterType="string">
		delete from member
		where userid =  #{userid}
	</delete>
	 -->
<!-- 	
	<select id="selectFolder" resultType="String" parameterType = "Folder">
		select folder_id from Folder where folder_name = #{folder_name} and com_url = #{com_url}
	</select>

	<select id="selectFolders" resultMap="resultList" parameterType="String">
		select * from Folder where com_url = #{url} and folder_name != '인사' and folder_name != '보고' and folder_name != '업무'
		and folder_name != '재무' and folder_name != '총무'
	</select>
	 -->
	 <select id="selectDraftList" parameterType="String"  resultMap="resultList">
		select * from document where DOC_WRITER = #{email} OR doc_approvers like '%' ||  #{email} || '%' order by doc_num desc
	 </select>
	 <select id = "selectDocument" parameterType="String" resultType="Document" resultMap="resultList">
	 	select * from document where doc_num = #{doc_num}
	 </select>
	 <insert id="insertDocument" parameterType="Document" 
		statementType="PREPARED" >
		insert into Document values ((select count(*) from document)+1,#{com_url},#{doc_id},#{doc_name},#{doc_writer},
		#{doc_approver},#{doc_approvers},#{doc_receivers},default,default,default,sysdate)
	</insert>
</mapper>
